---
import { CollectionEntry, getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import FormattedDate from '../../components/FormattedDate.astro';
import { SITE_TITLE } from '../../consts';

export async function getStaticPaths() {
	const events = await getCollection('agenda');
	return events.map((event) => ({
		params: { slug: event.slug },
		props: event,
	}));
}
type Props = CollectionEntry<'agenda'>;

const event = Astro.props;
const { Content } = await event.render();

const { title, description, startDate, updatedDate, image } = event.data;

---
<BaseLayout title={`${title} | ${SITE_TITLE}`} description={description} image={image}>
		<main>
			<article>
				<h1>{title}</h1>
				<FormattedDate date={startDate} />

				{updatedDate && <div>Última edició <FormattedDate date={updatedDate} /></div>}

				<Content />

			</article>
		</main>
</BaseLayout>
