---
import { type CollectionEntry, getCollection, getEntry, getEntries, render } from 'astro:content'
import BaseLayout from '../../layouts/BaseLayout.astro'
import { SITE_TITLE } from '../../consts'
import { eventSchema } from '../../jsonld-schemas/event'
import EventDetailsSections from '../../components/agenda/EventDetailsSections.astro'

export async function getStaticPaths() {
  const events = await getCollection('agenda')
  return events.map((event) => ({
    params: { slug: event.id },
    props: { event },
  }))
}

type Props = { event: CollectionEntry<'agenda'> }

const { event: eventEntry } = Astro.props
const { Content } = await render(eventEntry)
const event = eventEntry.data

const place = event.location ? await getEntry(event.location) : undefined
const performers = event.performers ? await getEntries(event.performers) : []
const resolvedPerformers = performers.map((p) => p.data)
---

<BaseLayout
  title={`${event.title} | ${SITE_TITLE}`}
  description={event.description}
  image={event.image}
  schemas={[
    {
      item: eventSchema(event, {
        eventPageUrl: Astro.url.toString(),
        performers: resolvedPerformers,
        place: place?.data,
      }),
    },
  ]}
>
  <main class="px-4">
    <article
      class:list={[
        'prose mx-auto my-24',
        'prose-h2:mb-0 prose-h2:mt-4 prose-p:mb-1 prose-ul:my-0 prose-li:mb-1 prose-li:mt-0 prose-img:my-2',
      ]}
    >
      <h1 class="mb-2 uppercase sm:text-6xl">{event.title}</h1>

      <hr class="my-2 border-gray-300" />

      <Content />
      <EventDetailsSections event={event} place={place?.data} performers={resolvedPerformers} />
    </article>
  </main>
</BaseLayout>
