---
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';

const events = (await getCollection('agenda')).sort(
	(a, b) => a.data.startDate.valueOf() - b.data.startDate.valueOf()
);
---

<BaseLayout title={`${SITE_TITLE} | Agenda`} description={SITE_DESCRIPTION}>
	<main>
			<section>
				<ul>
					{
						events.map((event) => (
							<li>
								<FormattedDate date={event.data.startDate} />
								<a href={`/agenda/${event.slug}/`}>{event.data.title}</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
</BaseLayout>
