---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';

const events = (await getCollection('agenda')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={`${SITE_TITLE} | Agenda`} description={SITE_DESCRIPTION} />
	</head>

	<body>
		<Header />
		<main>
			<section>
				<ul>
					{
						events.map((event) => (
							<li>
								<FormattedDate date={event.data.pubDate} />
								<a href={`/agenda/${event.slug}/`}>{event.data.title}</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
