---
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
const today = new Date()
today.setHours(0,0,0,0);

const upcomingEvents = (await getCollection('agenda')).filter((event) => event.data.startDate.valueOf() >= today.valueOf()).sort(
	(a, b) => a.data.startDate.valueOf() - b.data.startDate.valueOf()
);
---

<div class="bg-brand px-4 py-12 text-white scroll-mt-12" id="agenda">
  <h2
    class="mb-6 text-center text-4xl font-bold leading-none tracking-tight"
  >
    Agenda
  </h2>

  
  {upcomingEvents.length ? 
   <section>
    <p class="text-xl leading-none text-white text-center mt-8 mb-4">
      Próxims esdeveniments
    </p>
    <ul class="max-w-xl mx-auto">
					{
						upcomingEvents.map((event) => (
							<li>
								<a class="bg-white text-black leading-none shadow-lg flex justify-between items-center pt-4 min-[420px]:pt-0 min-[420px]:flex-row flex-col focus-visible:ring-4 ring-black/50 rounded-lg outline-none" href={`/agenda/${event.slug}/`}>
                  <img class="min-[420px]:max-w-[8rem] max-h-40 min-[420px]:rounded-l-lg min-[420px]:rounded-r-none rounded shadow-md min-[420px]:shadow-none" src={event.data.image} alt="">
                  <div class="grow self-stretch p-4 flex flex-col justify-between">
                    <h3 class="font-bold text-lg">{event.data.title}</h3>
                    <p class="grow leading-normal">{event.data.description}</p>
                    <FormattedDate class="text-gray-700 min-[420px]:mt-0 mt-4" date={event.data.startDate} />
                  <div/>
							  </a>
              </li>
						))
					}
				</ul>
        <div class="text-center mt-8">
          <a href="/agenda" class="text-lg font-semibold mx-auto inline-block text-white border-b-2 border-orange-300 leading-none">
            Veure tots
          </a>
        </div>
  </section>
  : 
  <section class="mx-auto max-w-xl pt-16 pb-12 text-center text-base">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="mx-auto mb-8 w-12"
        viewBox="0 0 24 24"
        stroke-width="1"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path
          d="M9 5h9a2 2 0 0 1 2 2v9m-.184 3.839a2 2 0 0 1 -1.816 1.161h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 1.158 -1.815"
        ></path>
        <path d="M16 3v4"></path>
        <path d="M8 3v1"></path>
        <path d="M4 11h7m4 0h5"></path>
        <path d="M3 3l18 18"></path>
      </svg>

      <p class="text-xl font-bold leading-none text-white">
        Cap esdeveniment programat
      </p>
      <p class="mt-2 text-sm text-orange-100">
        Estigues atent/a a les nostres xarxes socials!
      </p>
      
        <div class="text-center mt-12">
          <a href="/agenda" class="text-lg font-semibold mx-auto inline-block text-white border-b-2 border-orange-300 leading-none">
            Veure esdeveniments passats
          </a>
        </div>
    </section>
  } 
</div>